
.tabs-container {
    padding-top: 87px;
}

.tabs-nav {
    position: sticky;
    top: 87px;
    z-index: 1;
    background-color: #f9f9f9;
    padding-bottom: 24px;
}

.tabs-list {
    display: flex;
    list-style: none;
    border-bottom: 2px solid lightgray;
    padding: 0;
    margin: 0;
}

.tab-button {
    background: #f9f9f9;
    border: none;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

.tab-button.active {
    border-bottom: 2px solid #007aff;
    margin-bottom: -2px;
    color: #007aff;
}

section {
    overflow-x: hidden;
    height: calc(100vh - 149px);
}
