
.sidebar {
    width: calc(100vw - 72px);
    position: fixed;
    border-left: 1px solid lightgray;
    padding: 36px;
    z-index: 2;
    background-color: white;
    height: calc(100vh - 72px);
    overflow-y: scroll;
    flex-shrink: 0;
}

@media (min-width: 480px) {
    .sidebar {
        width: 328px;
    }
}

@media (min-width: 768px) {
    .sidebar {
        position: unset;
    }
}

.sidebar-thumbnail {
    border-radius: 15px;
    max-width: 100%;
    width: 100%;
}

.heading {
    text-align: left;
    font-weight: normal;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
}

.description-heading {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: normal;
}

.image-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.left-side {
    opacity: 0.6;
}

.right-side {
    text-align: right;
}

.delete-button {
    width: 100%;
    background-color: transparent;
    border: 1px solid lightgray;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 500;
}

.delete-button:hover {
    background-color: #f9f9f9;
}

.first-row {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-right: 4px;
}

.favorite {
    width: 20px;
    height: 18px;
    margin-top: 4px;
    color: transparent;
    cursor: pointer;
}

.favorite.filled {
    color: red;
}

.close-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

@media (min-width: 480px) {
    .close-btn {
        display: none;
    }
}

